@import "bootstrap/dist/css/bootstrap.min.css";

/* react-toastify */
@import "react-toastify/dist/ReactToastify.css";

/* react-slick */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Remix Icon */
@import "remixicon/fonts/remixicon.css";

@import "./style.scss";

.slick-slider.slick-slider {
  overflow: hidden !important;
}

.logo-img {
  width: 210px !important;
}

@media (max-width: 600px) {
  .logo-img {
    width: 160px !important;
  }
}

@media (max-width: 300px) {
  .logo-img {
    width: 140px !important;
  }
}

.absolute-banner {
  margin-top: -60px !important;
}

@media (max-width: 577px) {
  .absolute-banner {
    margin-top: 0 !important;
  }
}

#shadow-host-companion {
padding: 0 !important;
}